* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}



.container{
    height: 100vh;
    background: url('/images/math-bg-1.jpg');
    background-size: cover;
    background-position: center;
}

.title-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scenes{
    height: 100vh;
    /* background: url('/images/math-bg-2.jpeg');
    background-size: cover;
    background-position:center;  */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal {
    color:#000;
    padding: 20px 0;
}

.scene-nine {
    justify-content: center;
    align-items: center;
}